@import url("style_selector.css");
@import url("style_settings.css");
@import url("style_slider.css");
@import url("style_btn.css");

@keyframes rotate {
	0% {
	  transform: rotate(0deg);
	}
	100% {
	  transform: rotate(360deg);
	}
  }
  
  .gradient {
	--size: 250px;
	--speed: 50s;
	--easing: cubic-bezier(0.8, 0.2, 0.2, 0.8);
	position: absolute;
	width: var(--size);
	margin-top: 100px;
	height: var(--size);
	z-index: 1;
	filter: blur(calc(var(--size) / 5));
	/* background-image: url(''), linear-gradient(hsl(158, 82, 57, 85%), hsl(252, 82, 57)); */
	background-image: linear-gradient(-60deg, #8770FF 50%, #09f 50%);;
	animation: rotate var(--speed) var(--easing) alternate infinite;
	border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
  }
  
  @media (min-width: 720px) {
	.gradient {
	  --size: 750px;
	  z-index: 1;
	}
  }
  
  body {
	/* background-color: white; */
	position: absolute;
	inset: 0;
	display: flex;
	place-content: center;
	overflow: hidden;
  }
  
  /* This is just to transition when you change the viewport size. */
  * {
	transition: all 0.25s ease-out;
  }
  



#wrapper {
	display: inline-block;
	align-items: center;
	justify-content: center;
	width: auto;
	top:0;
}
#header1 {
	display: inline-block;
	width: fit-content;
	margin-left: 97px;
}
header {
	display: inline-block;
	height: auto;
	z-index: 1000;
	position: relative;
}
#Logo{
	font-size: 38px;
	font-family:'Poppins', sans-serif;
	font-weight: 300;
	margin-top: 22px;
	margin-left: -100px;
  	font-style: normal;
	color: black;
	text-decoration: none;
}

nav a {
	text-decoration: none;
}

nav ul {
	margin: 0;
	padding: 0;
	
}

nav li {
	list-style-position: inside;
	padding: 10px;
}

.top-menu li {
	display: inline-block;
	padding: 10px 20px;
	margin: 0;
	
	width: fit-content;
}

.top-menu a.active {
	color: #8770FF;
	
}

.top-menu a {
	color: black;
	font: 15px 'Poppins', sans-serif;
	letter-spacing:1px;
	font-weight: 400;
  	font-style: normal;
}



div.conteiner_text{
	width: 1111px;
	height: 701px;
	margin-top: 20px;
	background-color: white;
	position: relative;
	border-radius: 20px;
	z-index: 1000;
}


span {
	font: 15px 'Poppins', sans-serif;
}

span._text {
    border-radius: 10px;
}

  div.text{
	position: relative;
	background-color: white;
	height: 580px;
	border-width: 3px;
	border-style: solid;
	border-color: #694CFF;
	position: relative;
	margin-left: -50px;

	width: 650px;
	z-index: 10001;

	border: 3px solid transparent; /* Параметры рамки */
    background:
     linear-gradient(#fff, #fff) padding-box, /* Белый фон */
     linear-gradient(45deg, rgba(105,76,255,0.6) 0%, rgba(0,136,255,0.6) 44%, rgba(255,0,255,0.6) 99%);
	border-radius: 10px 20px 20px 10px;
	padding-top: 6px;
	padding-left: 6px;

	overflow: scroll;
  }

  div.stata{
	/*position: relative;*/
	background-color: white;
	height: 630px;
	border-width: 3px;
	border-style: solid;
	border-color: #694CFF;
	/*position: relative;*/
	margin-left: -50px;

	width: 650px;
	z-index: 10001;

	border: 3px solid transparent; /* Параметры рамки */
    background:
     linear-gradient(#fff, #fff) padding-box, /* Белый фон */
     linear-gradient(45deg, rgba(105,76,255,0.6) 0%, rgba(0,136,255,0.6) 44%, rgba(255,0,255,0.6) 99%);
	border-radius: 10px 20px 20px 10px;
	padding-top: 6px;
	padding-left: 6px;

	overflow: scroll;
  }
  
  div.try{
	display: flex;
  }
  div.ew{
	width: fit-content;
  }

  p.hint-text{
	color: #A0A0A0;
	font-family: 'Manrope';
	font-weight: bold;
	font-size: 14px;
	width: fit-content;
	height: min-content;
	white-space: nowrap;
	margin:0;
	overflow: hidden;
	width: 0;
    -webkit-animation: typing 10s steps(50, end) infinite;
}

@keyframes typing {
	0%{ 
		width: 0;
	}
	25%{
		width: 100%
	}
	50%{
		width: 0 
	}
	
}
